[Unit]
Description=Transport System Flask Backend
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/var/www/transport-system/backend
Environment="PATH=/var/www/transport-system/.venv/bin"
EnvironmentFile=/var/www/transport-system/backend/.env
ExecStart=/var/www/transport-system/.venv/bin/gunicorn --workers 3 --timeout 120 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
